<div class="container-fluid">
    <nav class="navbar sticky-top row justify-content-start">
      <ul class="navbar-nav col-md-12 text-md-right">
        <li >
          <a *ngIf="usuario">
            <img [src]="usuario.imagenUrl" class="img-thumbnail img-fluid" [width]="50" [height]="50" alt="" > {{ usuario.usuario }}
          </a>
          <div>
            <a class="text-md-right" href="#">Cerrar sesión</a>
          </div>

          <div id="busqueda" class="row justify-content-center">
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input  type="text" name="busqueda" class="form-control" placeholder="Buscar usuario , tienda , producto" aria-label="Busqueda" aria-describedby="Busqueda" #busqueda (keyup)="buscar(busqueda)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                <div *ngIf="userSearch || libroSearch || autorSearch " class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" *ngFor="let user of userSearch">
                    {{ user.usuario }} <span class="badge badge-pill badge-primary col-sm-4">Usuario</span>
                  </a>
                  <a class="dropdown-item" href="#" *ngFor="let libro of libroSearch">
                    {{ libro.nombre }} <span class="badge badge-pill badge-info">Producto</span>
                  </a>
                  <a class="dropdown-item" href="#" *ngFor="let autor of autorSearch">
                    {{ autor.nombre +" " + autor.apellido }} <span class="badge badge-pill badge-warning">Tienda</span>
                  </a>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-info" (click)="buscar(busqueda)" type="button" id="btn-buscar">Buscar</button>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </nav>

</div>
<br>
<app-usuario></app-usuario>
<br>
<br>
<app-autor></app-autor>
<br>
<br>
<app-libro></app-libro>
